# async db
ASYNC_DB_URL=postgresql+asyncpg://postgres_user:postgres_password@localhost:5432/dbname

# sync db
SYNC_DB_URL=postgresql+psycopg2://postgres_user:postgres_password@localhost:5432/dbname

# test db
ASYNC_TEST_DB_URL=postgresql+asyncpg://postgres_user:postgres_password@localhost:5432/test_dbname

# Argon2
ARGON2_PASSWORD_PEPPER=your_argon2_pepper

# JWT
ACCESS_TOKEN_SECRET_KEY=your_access_token_secret
REFRESH_TOKEN_SECRET_KEY=your_refresh_token_secret

# redis
REDIS_URL=redis://localhost:6379    # add a password if applicable

# sentry
SENTRY_SDK_DSN=your_sentry_dsn      # create an account and get at https://sentry.io

# google oauth
GOOGLE_CLIENT_ID=your_google_oauth_client_id
GOOGLE_CLIENT_SECRET=your_google_oauth_client_secret

# session middleware
SESSION_SECRET_KEY=your_session_secret

# rabbitmq
BROKER_URL=amqp://broker_user:broker_password@localhost:5672/virtual_host

# resend email
API_EMAIL=your_resend_api_email
RESEND_API_KEY=your_resend_api_key
